{% extends "base.html" %} 
{% load static %}
{% block title %}cart - checkout{% endblock %}
{% block content%}
<section class="bg-white">
    <section class="container mx-auto">
        <div class="p-5">
            <h1 class="text-red-800 text-center text-4xl">About US</h1>
            <div class="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse vero possimus, dolor eum quibusdam labore amet quia beatae nihil molestias nam assumenda nisi sit quam quo modi! Quos, earum labore. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut rerum, modi totam nihil maxime eius pariatur. Nostrum illo quaerat sed amet velit itaque pariatur, id aspernatur animi officia, earum necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quisquam fugiat totam eligendi officia optio, recusandae voluptatem consequatur natus modi commodi ipsum eius? In, dolorem nesciunt labore quia quidem placeat! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad perspiciatis nostrum fuga dolores architecto vero aliquid nobis ex rem non. Deserunt consectetur architecto ducimus! Cupiditate perspiciatis soluta officiis quam ipsum?<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui impedit rem magnam voluptatum. Ratione doloremque eveniet maxime asperiores, dignissimos rerum saepe deleniti veritatis, ab quis esse reprehenderit fuga et nam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero similique ullam assumenda omnis iusto optio accusamus corporis dolor commodi, quidem tempora ratione reprehenderit mollitia enim a corrupti at? Cupiditate, neque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, velit provident. Dolorum nulla quis eum. Pariatur quia quidem iste? Officia, dignissimos quaerat quae consectetur facilis consequatur. Iure laudantium impedit aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quidem fuga adipisci a. Adipisci blanditiis maxime atque. Odio ad magni ipsam adipisci libero magnam ex aspernatur, similique consectetur repellat dolorem.
                </p>
            </div>
        </div>
    </section>
</section>
{% endblock %}